/* navigation section */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background: white;
}
.nav-text-ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-right: 40px;
    list-style-type: none;
    /* text-decoration: none; */
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid red; */
}
.banner-text{
    margin: 60px;
    padding: 60px;
    list-style-type: none;
}
.banner-btn{
    margin: 10px;
    /* gap: 20px; */
}

img{
    margin: auto;
    /* padding-left: 50px; */
    width: 95%;
    height: 70%;
}
.btn{
    margin: 20px 20px 10px 0px;
    /* margin-left: 0;
    margin-right: 20px; */
    border-radius: 20%;
    padding: 10px;
}
/* footer section */
footer{
    background: rgb(12, 12, 12);
}
.info-list{
    color: aliceblue;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    /* margin: 50px; */
    padding: 20px;
    /* background: rgb(12, 12, 12); */
}
